* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.nav-bar1 {
    width: 100%;
    height: 10vh;
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
    padding-bottom: 3vh;
    padding-top: 2vh;
}

.nav-bar2 {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.control {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 60%;
    height: 575px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1001;
    background-color: azure;
    border-radius: 20px;  
}

.control-button {
    border-radius: 100px;
    width: 50px;
    height: 50px;
    border: none;
    background-color: whitesmoke;
    box-shadow: 1px 2px gainsboro;
    outline: none;
}

.map {
    width: 450px;
    height: 450px;
    border-radius: 20px;
    border: 5px solid aquamarine;
    margin-top: 2%;
}

.controls {
    background: local;
    display: flex;
    justify-content: space-around;
    width: 60%;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #3fd4cd;
    overflow: hidden;
}

section .wave {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../images/wave.png);
    transform: rotate(180deg);
    background-size: 1000px 100px;
}

section .wave.wave1 {
    animation: animate 4s linear infinite;
    z-index: 1000;
    opacity: 0.7;
    animation-delay: 0s;
    bottom: 0;
}
section .wave.wave2 {
    animation: animate2 5s linear infinite;
    z-index: 999;
    opacity: 0.3;
    animation-delay: -5s;
    bottom: 10px;
}
section .wave.wave3 {
    animation: animate3 15s linear infinite;
    z-index: 998;
    opacity: 0.8;
    animation-delay: -2s;
    bottom: 15px;
}
section .wave.wave4 {
    animation: animate4 20s linear infinite;
    z-index: 997;
    opacity: 0.4;
    animation-delay: 1s;
    bottom: 12px;
}

a.flag, a.search, a.report, a.menu_button {
    position: relative;
    display: inline-block;
    margin: 10px 0;
    padding: 12px 24px;
    font-size: 14px;
    text-decoration: none;
    letter-spacing: 2px;
    border-radius: 40px;
    background: linear-gradient(90deg, #0162c8, #55e7fc);
    color: white;
    overflow: hidden;
}

span {
    position: absolute;
    background: #fff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animateButtons 1s linear infinite;
}

.flag-popup {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
    align-items: center;
    z-index: 1500;
}

.flag-contents {
	height: 400px;
	width: 500px;
	background-color: white;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
}

.close-flag {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
}

.close-flag:hover {
    color: #666;
}

@keyframes animateButtons {

    0% {
        width: 0px;
        height: 0px;
        opacity: 0.5;
    }

    100% {
        width: 500px;
        height: 500px;
        opacity: 0;
    }


}

@keyframes animate {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}

@keyframes animate2 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}
@keyframes animate3 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}
@keyframes animate4 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}
