* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    overflow-y: hidden;
}

.grid-container {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.main {
    height: 100%;
    width: 100%;
}

.logo {
    height: 6%;
    width: 100%;
    padding-bottom: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#logo {
    margin-top: 0.75em;
    height: 100%;
    width: 30%;
}

.vision {
    width: 100%;
    height: 94%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h5 {
    margin-bottom: 10px;
}


p {
    letter-spacing: 1px;
    line-height: 20px;
}

.vision-box {
    width: 60%;
    height: 15%;
    background: rgb(229,242,240);
    background: linear-gradient(0deg, rgba(229,242,240,1) 0%, rgba(237,237,237,1) 100%);
    border-radius: 5px;
    text-align: center;
    padding: 2em 2em 2em 2em;
    margin-bottom: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
}

.public {
    border: 1px solid rgb(229,242,240);
    color: #3498db;
    background: none;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.8s;
    margin-top: 30%; 
    overflow: hidden;
    z-index: 2;
}


.btn1::before {
    top: 0;
    border-radius: 0 0 50% 50%;
}

.public:hover {
    border: 2px solid gainsboro;
}

.waves {
    position: relative;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    padding: 0;
    z-index: -1;
    height: 100vh;
    width: 100vw;
}

.waves-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 20%;
    width: 100%;
}
