* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.grid-container {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
}

#logo {
  margin-top: 0.75em;
  margin-bottom: 1em;
  margin-left: 5px;
  width: 90%;
}

.log-in-id {
  margin-bottom: 2vh;
}

@media only screen and (max-width: 1440px) {
  .sidebar {
    width: 30%;
    height: 100%;
    background-color: white;
    transition: 1s ease;
    position: relative;
  }
}

.messages {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5em;
}

.map {
  width: 70%;
  height: 100%;
  background-color: #ccc;
  transition: 1s ease;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: 40%;
    background-color: white;
    transition: 1s ease;
    position: absolute;
    top: 0;
  }
}
#flag {
  width: 50%;
  color: white;
  font-size: 14px;
}

#report {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 50%;
  font-size: 14px;
}

#flag-form {
  display: none;
  margin-top: 1em;
  padding: 0.5em 2em 0.5em 2em;
  border-radius: 5px;
  border: 2px solid white;
}

#report-form {
  display: none;
  margin-top: 1em;
  padding: 0.5em 2em 0.5em 2em;
  border-radius: 5px;
  border: 2px solid white;
}

.button-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#search {
  width: 80%;
  margin-left: 0.5vw;
  margin-bottom: 2vh;
}

h5 {
  margin-top: 1em;
  padding-bottom: 2em;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkblue;
  height: 30px;
  width: 30px;
  border-radius: 0 50% 50% 50%;
  transform: rotate(-135deg);
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 22%;
}

#value {
  text-align: center;
  color: white;
  font-size: 14px;
  transform: rotate(135deg);
}

.error {
  width: 90%;
  margin: 0px auto;
  padding: 1%;
  border: 1px solid #a94442;
  font-size: 10px;
  color: #a94442;
  background: #f2dede;
  border-radius: 3px;
  text-align: center;
}

.waves {
  position: relative;
  bottom: 0;
  left: 0;
  margin-bottom: 0;
  padding: 0;
  z-index: -1;
  height: 100vh;
  width: 100vw;
}

.waves-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 20%;
  width: 100%;
}

.success {
  width: 80%;
  margin: 0px auto;
  padding: 1%;
  border: 1px solid green;
  font-size: 10px;
  color: green;
  background: #f2dede;
  border-radius: 3px;
  text-align: center;
}
