* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.grid-container {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
}

.grid-container-2 {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
}

@media only screen and (max-width: 2560px) {
  .main-2 {
    height: 100%;
    width: 70%;
  }

  .sidebar {
    width: 30%;
    height: 100%;
    background-color: white;
    transition: 1s ease;
    position: relative;
    z-index: 1;
  }

  .sidebar-2 {
    width: 30%;
    height: 100%;
    background-color: white;
    transition: 1s ease;
    position: relative;
    z-index: 1;
  }

  .main {
    width: 70%;
  }
  .water-table-gov {
    height: 40%;
    width: 100%;
    overflow: scroll;
  }
  .map-2 {
    width: 100%;
    height: 60%;
  }

  #logo {
    margin-top: 0.75em;
    margin-bottom: 0.1em;
    margin-left: 30px;
    width: 90%;
  }

  .map {
    position: relative;
    width: 70%;
    height: 100%;
    background-color: #ccc;
    z-index: 0;
  }

  /*h5 {
        margin-top: 1em;
        padding-bottom: 2em;
    }*/

  .messages {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    margin-bottom: 0.5em;
  }

  .submit-info {
    width: 100%;
  }

  .address-quality {
    width: 100%;
  }

  #report-form {
    position: absolute;
    bottom: 60px;
    left: 20%;
  }
  #login-form,
  #report-form,
  #flag-form {
    display: none;
    margin-top: 1em;
    padding: 0.5em 2em 0.5em 2em;
    border-radius: 5px;
    border: 2px solid white;
  }

  #report {
    position: absolute;
    bottom: 20px;
    left: 30%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
  }

  .get-location,
  #flag {
    margin: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
  }
}
@media only screen and (max-width: 768px) {
  .grid-container-2 {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .main-2 {
    height: 50%;
    width: 100%;
  }

  .water-table-gov {
    height: 45%;
    width: 100%;
    overflow: scroll;
  }

  .map-2 {
    height: 55%;
    width: 100%;
  }

  .map {
    width: 100%;
    height: 53%;
    position: absolute;
    bottom: 0;
    z-index: 0;
  }

  .sidebar {
    width: 100%;
    height: 36%;
    background-color: white;
    transition: 1s ease;
    position: relative;
    top: 0;
    z-index: 1;
  }

  .sidebar-2 {
    width: 100%;
    height: 55%;
    background-color: white;
    transition: 1s ease;
    position: relative;
    z-index: 1;
  }

  #logo {
    margin-top: 0.75em;
    margin-bottom: 0.1em;
    margin-left: 10px;
    width: 96%;
  }

  .submit-info {
    width: 60%;
  }
  /* .h5 {
        margin-bottom: -34.5px;
    }*/
  #flag {
    width: 60%;
    position: relative;
    color: white;
    font-size: 14px;
    right: 0;
    top: 18%;
  }
  #login-form,
  #report-form,
  #flag-form {
    position: initial;
    display: none;
    margin-top: 0.01em;
    padding: 0.5em 2em 0.5em 2em;
    border-radius: 5px;
    border: 2px solid white;
  }

  .search {
    width: 80%;
    margin-left: 0.5vw;
    margin-bottom: 0.5vw;
  }

  .messages {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1%;
    margin-bottom: 0.05vw;
  }

  #report {
    position: relative;
    align-items: center;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    /* width: 70%; */
    bottom: auto;
    left: auto;
    font-size: 14px;
  }
}

@media only screen and (max-width: 640px) {
  * {
    font-size: 10px;
  }
}
/*.sidebar-2 {
  width: 100%;
  height: 50%;
  background-color: white;
  transition: 1s ease;
  position: relative;
  z-index: 1;
}

.main-2 {
  height: 100%;
  width: 100%;
}

.map-2 {
  height: 25%;
  width: 100%;
}

.water-table-gov {
  height: 25%;
  width: 100%;
  overflow: scroll;
}*/

#background {
  width: 70%;
  height: 100%;
  background-color: white;
}

#flag {
  width: 50%;
  color: white;
  font-size: 14px;
}

#gov-form {
  margin-top: 1em;
  padding: 0.5em 2em 0.5em 2em;
  border-radius: 5px;
  border: 2px solid white;
}

#create-form {
  margin-top: 1em;
  padding: 0.5em 2em 0.5em 2em;
  border-radius: 5px;
  border: 2px solid white;
}

.button-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1;
}

#search,
#search-gov {
  width: 80%;
  margin-left: 0.5vw;
  margin-bottom: 2vh;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkblue;
  height: 30px;
  width: 30px;
  border-radius: 0 50% 50% 50%;
  transform: rotate(-135deg);
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 22%;
}

#value {
  text-align: center;
  color: white;
  font-size: 14px;
  transform: rotate(135deg);
}

.error {
  width: 90%;
  margin: 0px auto;
  padding: 1%;
  border: 1px solid #a94442;
  font-size: 10px;
  color: #a94442;
  background: #f2dede;
  border-radius: 3px;
  text-align: center;
}

.success {
  width: 80%;
  margin: 0px auto;
  padding: 1%;
  border: 1px solid turquoise;
  font-size: 10px;
  background: aliceblue;
  border-radius: 3px;
  text-align: center;
}

.site-info {
  position: absolute;
  left: 5%;
  width: 90%;
  height: 70%;
  border-radius: 10px;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.18);
  background: #f2f2f2;
}

.info {
  position: relative;
  top: 3%;
  left: 3%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: inherit;
  z-index: 1;
}

.close-img:hover {
  cursor: alias;
}

.site-form-headings {
  margin-top: 10px;
  color: #007bff;
  font-size: 15px;
  font-weight: bold;
}

#close-form {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 2;
}

.status-div {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.info-img {
  width: 15px;
  height: 15px;
  margin-left: 15px;
}

.info-img:hover {
  cursor: help;
}

.info-message {
  position: absolute;
  left: 30%;
  top: 55%;
  max-width: 200px;
  text-align: center;
}

#action-button {
  background-color: turquoise;
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
  padding: 3px;
}

.infoForm {
  width: 100px;
  height: 120px;
  background-color: #ccc;
}

.dropbtn {
  background-color: #007bff;
  color: white;
  font-size: 14px;
  border: 1px solid transparent;
  margin-bottom: 20px;
  width: 200px;
  height: 60px;
  border-radius: 0.25rem;
  margin: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
  outline: none;
}

#submission-submit,
#submission-report {
  background-color: "#34cacb";
}

.states-dropdown {
  position: relative;
  display: inline-block;
}

.states {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 135px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.states a,
button {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
  width: 100%;
  border: none;
}

/*popup buttons*/
.popup-btns {
  display: flex;
  flex-direction: rows;
}

.popup-yes,
.popup-no {
  margin: 0.5em;
}

#data-table-public {
  display: none;
}

/* Change color of dropdown links on hover */
.states button:hover {
  background-color: #ddd;
}

button:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.states-dropdown:hover .states {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.states-dropdown:hover .dropbtn {
  background-color: #006cd6;
}
